html {
  font-size: 10px;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #060432;
  color: white;
  font-size: 1.6rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.logo {
  width: 6rem;
}

.stepper {
  margin-right: 20rem;
}

.css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root {
  font-size: 3rem !important;
}

.css-zpcwqm-MuiStepConnector-root {
  top: 15px !important;
}


.learn {
  background-color: #F2F2F2;
  color: black;
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.learn h2 {
  display: flex;
  align-items: center;
}

.learn-icon {
  font-size: 3rem;
  margin-right: 1rem;
}

.robot-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  width: 50rem;
  height: 50rem;
  background-color: #FFC700;
}

.grid-cell {
  width: 100%;
  border: solid #060432 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.cell4-4 {
  background-color: #F64B42;
}

.robot {
  position: absolute;
  width: 80%;
  z-index: 1;
  animation: fadeIn .5s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}


@media (max-width: 1100px) {
  .stepper {
    margin-right: 3rem;
  }
}

@media (max-width: 800px) {
  .css-n7tliy-MuiStep-root {
    padding: 0.4rem !important;
  }
  .css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root {
    font-size: 2.5rem !important;
  }
}

@media (max-width: 600px) {
  .stepper {
    margin-right: 0rem;
  }
  .css-n7tliy-MuiStep-root {
    padding: 0.2rem !important;
  }
  .css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root {
    font-size: 2.2rem !important;
  }
}

@media (max-width: 450px) {
  .css-n7tliy-MuiStep-root {
    padding: 0.1rem !important;
  }
  .css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root {
    font-size: 2rem !important;
  }
  nav {
    flex-direction: column;
    align-items: start;
  }
  .stepper {
    align-self: center;
  }
}

